<div class="button-demo">
    <div class="button-sample">
        <button class="btn btn--primary">Give where it’s needed most</button>
    </div>
    <div class="button-sample">
        <button class="btn btn--secondary">Start a Fundraiser</button>
    </div>

    <div class="button-sample">
        <button class="btn btn--with-icon">
            Give to UCSF <i class="fa fa-heart"></i>
        </button>
    </div>

    <div class="button-sample">
        <a class="link link--with-icon">EXPLORE OTHER WAYS OF GIVING<span class="fa-stack link--icon">
                <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
                <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
                <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
            </span>           
        </a>
    </div>
    <div class="button-sample dark">
        <div class="wrapper wrapper--background--dark">
                <a class="link link--with-icon background--dark">EXPLORE OTHER WAYS OF GIVING<span class="fa-stack link--icon">
                    <i class="fa fa-circle fa-stack-2x icon--visible-hover icon--circle" aria-hidden="true"></i>
                    <i class="fa fa-circle-thin fa-stack-2x icon--circle" aria-hidden="true"></i>
                    <i class="fa fa-angle-right fa-stack-1x icon--angle" aria-hidden="true"></i>
                </span>           
            </a>
        </div>

    </div>
</div>