{% extends "@pages/_base-page.twig" %}

{% block content %}
    <div class="contents--wrapper">
        {% block top_section %}

        {% endblock %}
        {% block middle_section %}

        {% endblock %}
    </div>
    {% block bottom_section %}

    {% endblock %}
{% endblock %}
