{% include "@organisms/00-global/header-style-1.twig" %}
<div class="contents--wrapper">
	<div class="content-area">
		<div class="column-wrapper">
			<div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
				{% include "@molucules/05-navigation/03-breadcrumb.twig" %}
			</div>
		</div>
	</div>
	{% include "@molucules/02-blocks/08-article-hero-no-text.twig" %}
	<div class="content-area">
		<div class="column-wrapper">
			<div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
				{% include "@molucules/02-text/02-photo-caption.twig" %}
			</div>
		</div>
	</div>
	<div class="content-area">
		<div class="column-wrapper">
			<div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
				{% include "@molucules/02-text/03-fund-intro.twig" %}
			</div>
		</div>s
	</div>
	<div class="content-area">
		<div class="column-wrapper">
			<div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">

			</div>
		</div>
	</div>
</div>
