/*** HTML ***/
* {
  @include box-sizing(border-box);
}

html, body {
    font-family: $text-body--regular;
    margin: 0;
    padding: 0;
    font-size: $base--typesize;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body{
    font-size: $base--typesize;
}
