$color--oxford-blue: #052059;
$color--light-blue: #007CBE;
$color--yellow-green: #6EA400;
$color--teal: #058488;
$color--orange: #F26D04;
$color--light-gray: #F1F1F1;
$color--light-gray-2: #dadee4;
$color--black: #000000;
$color--black-2: #353a3f;
$color--white: #FFFFFF;
$color--dark-gray: #B4B9BF;

