<div class="ways-to-give-form-small {% block classes %}{{ class_controller }}{% endblock %}">
	{% block label %}
		<h4>{{ give_ways_content.small.heading }}</h4>
	{% endblock %}
	<form name="ways-to-give" id="give" method="GET" action="{% block post_url %}{% endblock %}">
		<fieldset>
			<legend class="visually-hidden">Give Form:</legend>
			<div class="ways-to-give-options--wrapper ">
				{% block amounts %}
			      	<div class="ways-to-give-option" role="button">
			            <input type="radio" name="give-value" id="give_value_50" value="50" />
			            <label for="give_value_50">$50</label>
			        </div>
			        <div class="ways-to-give-option" role="button">
			            <input type="radio" name="give-value" id="give_value_100" value="100" checked="true"/>
			            <label for="give_value_100">$100</label>
			        </div>
			        <div class="ways-to-give-option" role="button">
			            <input type="radio" name="give-value" id="give_value_200" value="200" />
			            <label for="give_value_200">$200</label>
			        </div>
			        <div class="ways-to-give-option" role="button">
			            <input type="radio" name="give-value" id="give_value_500" value="500" />
			            <label for="give_value_500">$500</label>
			        </div>
		        {% endblock %}
		        <div class="ways-to-give-option" role="button">
		        	<label class="visually-hidden" for="give_value_other">Other</label>
		            <input type="radio" name="give-value" id="give_value_other" value="other" />
		            <label class="visually-hidden" for="give_input_other">Other Input</label>
		            <input class="give-value-other-input"type="text" id="give_input_other" name="give-value-other" />
		            <div class="others-dollar-label"><span>$</span> <span class="label-text">Other</span></div>
		        </div>
		        <div class="ways-to-give-option submit-btn" role="button">
		           <button class="btn btn--primary" type="submit">Make a gift</button>
		        </div>
			</div>
		</fieldset>
	</form>
</div>
