<div class="block block--impact-stories-pillar background-color--teal">
    {% include "@atoms/03-lists/01-ordered.twig" %}
    {# include "@molecules/02-blocks/04-impact-story-with-image" with {
        "color" : "teal",
        "image" : "/images/MBH_hospital.jpg",
        "text" : "Research is at the Heart of What We Do"
    } #}

   {# dump() #}
</div>