<nav class="nav--wrapper">
	<div class="nav-global--wrapper">
		<div class="content-area">
			<div class="nav-global">
				<div class="nav-brand">
					<a href="#">
						<img class="nav-logo" src="/images/UCSF_logo_white_RGB_small.png" alt="UCSF Logo White Small">
						<span class="nav-title">University of California San Francisco</span>
					</a>
				</div>
				<ul class="nav-link-list">
					<li><a href="#">About UCSF</a></li>
					<li><a href="#">UCSF Medical Center</a></li>
					<li>
						<div class="search-box--wrapper">
							<form action="#" method="GET" name="form-search" id="form-search">
								<div class="search-field--wrapper">
									<span class="placeholder" data-default-text="Search give.ucsf.edu">Search give.ucsf.edu</span>
									<input class="input-text" type="text" name="search" id="search-q">
									<span class="fa fa-search search-icon"></span>
									<a class="hidden anchor" name="search-button" id="search-button">Go</a>
								</div>
								<div class="search-advanced-form">
									<div class="radio-circle">
										<input type="radio" name="search-type" id="search-type-ucsf" value="all">
										<span class="radio-ui"></span>
									</div>
									<label for="search-type-ucsf">All UCSF</label>
									<div class="radio-circle">
										<input type="radio" name="search-type" id="search-type-give" value="give">
										<span class="radio-ui"></span>
									</div>
									<label for="search-type-give">give.UCSF.edu</label>
									<div class="advanced-form-close-button"></div>
								</div>
							</form>
						</div>
						<a class="search-advanced-form-toggle">
							ADVANCED
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
