<nav class="nav--wrapper">
	<div class="nav-main--wrapper">
		<div class="content-area">
			<div class="nav-main">
				<div class="nav-main-brand">
					<a href="#" title="Giving to UCSF">
						<img class="nav-logo" src="/images/UCSF_logobox_navy_CMYK_small.png" alt="UCSF Navy Logo Box">
						<span class="nav-site-title">Giving to UCSF</span>
					</a>
				</div>
				<ul class="nav-mobile-toggles">
					<li><button class="mobile-search-form-toggle"><span class="fa fa-search"></span></button></li>
					<li><button class="mobile-menu-toggle"><span class="fa fa-bars"></span></button></li>
				</ul>
				<ul class="nav-main-links">
					<li>
						<a href="#">Why Give</a>
					</li>
					<li>
						<a href="#">How to Give</a>
						<span class="line"></span>
						<ul class="dropdown-menu">
							<li>
								<a href="#">Alumni / Class</a>
							</li>
							<li>
								<a href="#">Honor / Memorial</a>
							</li>
							<li>
								<a href="#">Corporate &amp; Foundation</a>
							</li>
							<li>
								<a href="#">Planned Giving</a>
							</li>
							<li>
								<a href="#">Endowments</a>
							</li>
							<li>
								<a href="#">In-kind / Stock</a>
							</li>
							<li>
								<a href="#">Giving FAQ</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">What to Support</a>
					</li>
					<li>
						<a href="#">Get Involved</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="nav-main-mobile-search">
		<form action="" method="GET" name="form-search">
			<div class="mobile-search-field--wrapper">
				<div class="mobile-field-ui">
					<span class="hidden default-text">Search</span>
					<span class="placeholder">Search</span>
					<input class="input-text" type="text" name="search" id="searchMobile">
					<span class="fa fa-search search-icon"></span>
					<a class="hidden anchor" name="search-button" id="search-button">Go</a>
				</div>
			</div>
			<div class="mobile-search-advanced-form">
				<div class="mobile-search-option">
					<div class="radio-circle">
						<input type="radio" name="search-type" id="search-type-ucsf" value="all">
						<div class="radio-ui"><span class="fa fa-check checkmark"></span></div>
					</div>
					<label for="search-type-ucsf">All UCSF</label>
				</div>
				<div class="mobile-search-option">
					<div class="radio-circle">
						<input type="radio" name="search-type" id="search-type-give" value="give">
						<div class="radio-ui"><span class="fa fa-check checkmark"></span></div>
					</div>
					<label for="search-type-give">give.UCSF.edu</label>
				</div>
				<div class="advanced-form-close-button"></div>
			</div>
			<!-- <div class="mobile-search-submit--wrapper">
				<button class="btn btn--secondary search-submit" type="submit">Search</button>
			</div> -->
		</form>
	</div>
	<div class="nav-main-mobile" aria-hidden="true">
		<ul class="">
			<li role="menuitem" aria-haspopup="true">
				<a href="#">Why Give</a>
				<span class="display-arrow fa fa-play"></span>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Alumni / Class</a>
					</li>
					<li>
						<a href="#">Honor / Memorial</a>
					</li>
				</ul>
			</li>
			<li role="menuitem" aria-haspopup="true">
				<a href="#">How to Give</a>
				<span class="display-arrow fa fa-play"></span>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Alumni / Class</a>
					</li>
					<li>
						<a href="#">Honor / Memorial</a>
					</li>
					<li>
						<a href="#">Corporate &amp; Foundation</a>
					</li>
					<li>
						<a href="#">Planned Giving</a>
					</li>
					<li>
						<a href="#">Endowments</a>
					</li>
					<li>
						<a href="#">In-kind / Stock</a>
					</li>
					<li>
						<a href="#">Giving FAQ</a>
					</li>
				</ul>
			</li>
			<li role="menuitem" aria-haspopup="false">
				<a href="#">What to Support</a>
			</li>
			<li role="menuitem" aria-haspopup="false">
				<a href="#">Get Involved</a>
			</li>
		</ul>
	</div>
</nav>
