<div class="content-area">
	<div class="column-wrapper">
		<div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
			<ul class="category-nav" role="navigation">
				<li>
					<a class="btn btn--category" href="#">ALL</a>
				</li>
				<li>
					<a class="btn btn--category btn--research" href="#">RESEARCH</a>
				</li>
				<li>
					<a class="btn btn--category btn--education" href="#">EDUCATION</a>
				</li>
			    <li>
			    	<a class="btn btn--category btn--patient-care" href="#">PATIENT CARE</a>
			    </li>
			    <li>
			    	<a class="btn btn--category btn--news" href="#">NEWS</a>
			    </li>
			</ul>
		</div>
	</div>
</div>
