.hero--wrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: block;
}

.block {
	display: block;
	&.block-hero {
		display: block;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		.hero-text {
			display: block;
			a {
				&.link.link--with-icon {
					color: $color--white;
					.link--icon {
						color: $color--white;
					}
					&:hover {
						.icon--angle {
							color: $color--light-blue;
						}
					}
				}
			}
		}
	}
}


@media screen and (min-width: $width-small){
	.block {
		&.block-hero {
			background-position: top center;
			height: 516px;
			.hero-text {
   				margin-top: 55%;
			}
		}
	}
}



@media screen and (min-width: $width-medium){
	.block {
		&.block-hero {
			background-position: top center;
			height: 660px;
			.hero-text {
   				margin-top: 56%;
			}
		}
	}
}



@media screen and (min-width: $width-large){
	.block {
		&.block-hero {
			background-position: top center;
			height: 660px;
			.hero-text {
   				margin-top: 56%;
			}
		}
	}
}
