/*** Text ***/
.text-body{
    font-family: $text-body--regular;

    @include type-definition(15px, 1.5);

    &.text-body--light{
        font-family: $text-body--light;
    }
    &.text-body--medium{
        font-family: $text-body--medium;
    }
    &.text-body--bold{
        font-family: $text-body--bold;
    }
}

.heading{
    font-family: $text-headline;
}

p{
    font-family: $text-body--regular;
    @include type-definition($base--typesize);
}

b, strong{
    font-family: $text-body--bold;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6{
    font-family: $text-headline;
    font-weight: normal;
}

abbr[title] {
    border-bottom: 1px dotted;
}

small {
    font-size: 80%;
}

blockquote{
    padding: 30px;
    background-color: $color--light-gray-3;
    text-align: justify;
    &, & p{
        font-family: $text-headline;
        @include type-definition(24px, 1.33);
    }
    p{
        margin: 0;
        &:before, &:after{
            font-family: $text-headline;
            @include type-definition(60px, 0.53);
            color: $color--light-blue;
            top: 15px;
            position: relative;
        }
        &:before{
            content: "\201C";
        }
        &:after{
            content: "\201D";
        }
    }

}

address {
    font-style: normal;
    font-family: $text-body--light;
    & > strong {
        font-family: $text-body--medium;
    }
}

// Text alignments

$alignments : left center right justify;

@each $alignment in $alignments{
    .text-align--#{$alignment}{
        text-align: #{$alignment};
    }
}

.header-section{
    margin-bottom: 30px;
    &.section--title{
        color: $color--oxford-blue;
        .heading{
            margin-top: 0;
            margin-bottom: 15px;
        }
    }
    &.story {
        margin-top: 10px;
        margin-bottom: 20px;
        h3 {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
    &.section--intro-text{
        p{
            font-family: $text-body--light;
            @include type-definition(20px, 1.3);
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}

@media all and (max-width: $bp--xsmall-max){

}

@media all and (min-width: $bp--small-up){
    .header-section{
        margin-bottom: 40px;
        &.story {
            margin-bottom: 30px;
        }
        h3 {
            margin-bottom: 0px;
        }
    }
}

@media all and (min-width: $bp--medium-up){
    .header-section{
        &.story {
            margin-bottom: 40px;
        }
        h3 {
            margin-bottom: 0px;
        }
    }
}

.photo-caption--wrapper {
    margin-bottom: 20px;
    .photo-caption {
        margin: 0px;
    }
}

p.photo-caption {
    font-family: $text-body--regular;
        color: $color--medium-gray;
    font-size: 12px;
}

p.fund-intro {
    font-family: $text-body--light;
    font-size: 22px;
    line-height: 1.36;
    margin-top: 0px;
    margin-bottom: 15px;
}
