.block{
    &.block--funding-priorities{
        margin: 40px auto 20px;
        h3{
            line-height: 1;
            color: $color--oxford-blue;
            margin-bottom: 30px;
            margin-top: 0;
        }

        .slick-arrow{
            @extend .fa;
            border: none;
            background-color: transparent;
            font-size: 0;    
            outline: 0;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            z-index: 10;
            cursor: pointer;
            &:before{
                font-size: 100px;
                line-height: 0;
                color: $color--oxford-blue;
            } 
            &.slick-prev{
                @extend .fa-angle-left;
                left: -55px;
            }
            &.slick-next{
                @extend .fa-angle-right;
                right: -55px;
            }
        }
        .slider-button{
            @extend .fa;
            border: none;
            background-color: transparent;
            font-size: 0;    
            outline: 0;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            z-index: 10;
            &:before{
                font-size: 100px;
                line-height: 0;
                color: $color--oxford-blue;
            } 
            &.slider-prev{
                @extend .fa-angle-left;
                left: -55px;
            }
            &.slider-next{
                @extend .fa-angle-right;
                right: -55px;
            }
        }
    }
}

.block--item{
    &.block--funding-priorities-items{
        margin: 0 auto;
        margin-bottom: 20px;
        .block--item-image{
            height: 200px;
            width: 100%;
            background-color: $color--dark-gray;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .block--item-contents{
            background-color: $color--light-blue;
            height: 170px;
            width: 100%;
            padding: 20px 20px 25px 20px;
            position: relative;
            .text{
                @include type-definition(18px, 1.33);
                margin: 0;
            }
            a, span, p{
                color: $color--white;
            }
            a{
                position: absolute;
                bottom: 25px;
                &:hover{
                    .fa-angle-right{
                        color: $color--light-blue;
                    }
                }
            }
        }
    }
} 


@media all and (max-width: $bp--small-max){
    .block--item{
        &.block--funding-priorities-items{
            max-width: 100%;
            .block--item-image{
                display: none;
            }
        }
    }
}

@media all and (min-width: $bp--medium-up){
    .block{
        &.block--funding-priorities{
            .slick-arrow{
                &.slick-prev{
                    left: -50px;
                }
                &.slick-next{
                    right: -50px;
                }
            }
        }
    }
    .block--item{
        &.block--funding-priorities-items{
            width: 270px;
        }
    }
}

@media all and (min-width: 1200px) and (max-width: 1315px){
    .block{
        &.block--funding-priorities{
            .slick-arrow{
                &.slick-prev{
                    left: -35px;
                }
                &.slick-next{
                    right: -50px;
                }
            }
        }
    }
}