.htmytg-list {
	list-style: none;
	padding-left: 0px;
	& > li {
		padding-left: 0px;
	}
}

@media screen and (min-width: $width-small) {
	.htmytg-list {
		list-style: initial;
		padding-left: 16px;
		margin-bottom: 20px;
		& > li {
			padding-left: 15px;
		}
	}
}

.masonry-wrapper {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		&.masonry-results {
			li {
				width: 100%;
				padding: 15px 10px;
				margin-bottom: 0px;
				.block-item--impact-story-small {
					margin-bottom: 0px;
					.block--item-content {
						height: auto;
					}
				}
				&.big-article {
					width: 100%;
				}
			}
			&:after {
				content: " ";
				display: block;
				clear: both;
			}
		}
	}
}

@media screen and (min-width: 481px) and (max-width: $bp--xsmall-max ) {
	.masonry-wrapper {
		ul {
			&.masonry-results {
				li {
					width: 50%;
					padding: 10px 15px;
					&.big-article {
						width: 50%;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $width-small ) {
	.masonry-wrapper {
		ul {
			&.masonry-results {
				li {
					width: 33.333%;
					padding: 10px 15px;
					&.big-article {
						width: 66.666%;
					}
				}
			}
		}
	}
}


@media screen and (min-width: $width-medium ) {
	.masonry-wrapper {
		ul {
			&.masonry-results {
				li {
					width: 25%;
					padding: 10px 15px;
					&.big-article {
						width: 50%;
					}
				}
			}
		}
	}
}


@media screen and (min-width: $width-large ) {
	.masonry-wrapper {
		ul {
			&.masonry-results {
				li {
					width: 25%;
					padding: 10px 15px;
					&.big-article {
						width: 50%;
					}
				}
			}
		}
	}
}
