.htmytg-list {
	list-style: none;
	padding-left: 0px;
	& > li {
		padding-left: 0px;
	}
}

@media screen and (min-width: $width-small) {
	.htmytg-list {
		list-style: initial;
		padding-left: 16px;
		margin-bottom: 20px;
		& > li {
			padding-left: 15px;
		}
	}
}

ul {
	&.pager__items {
		margin: 0px;
	    padding: 0px;
	    list-style: none;
	    & > li, .pager__item {
	    	float: left;
	    	margin: 0px;
	    	margin-right: 10px;
	    	& > a {
	    		min-width: 28px;
	    		width: auto;
				height: 30px;
				padding: 7px 10px;
				font-size: 12px;
				font-family: $text-body--medium;
				border: solid 1px $color--light-blue;
				display: block;
				text-decoration: none;
				&:hover {
					color: $color--white;
					background-color: $color--oxford-blue;
				}
	    	}
	    	&.is-active {
	    		& > a {
	    			background-color: $color--light-gray;
	    			&:hover {
						color: $color--white;
						background-color: $color--oxford-blue;
					}
	    		}
	    	}
	    	&.pager__item--ellipsis {
	    		color: $color--oxford-blue;
	    		border: 0px solid transparent;
	    		font-family: $text-body--medium;
	    		font-size: 17px;
	    		min-width: 0px;
	    		width: auto;
				height: 30px;
				&.ellipsis-next {
					padding: 2px 0px;
					margin: 0px;
				}
				.ellipsis-prev {
					padding: 2px 0px;
					margin-right: 10px;
				}
	    	}
	    	&.pager__item--first {
	    		margin-right: 0px;
				.fa-angle-double-left {
					margin-right: 6px;
				}
	    	}
	    	&.pager__item--previous {
	    		margin-left: 15px;
	    		margin-right: 15px;
				.fa-angle-left {
					margin-right: 6px;
				}
	    	}
	    	&.pager__item--next {
	    		margin-left: 15px;
	    		margin-right: 15px;
				.fa-angle-right {
					margin-left: 6px;
				}
	    	}
	    	&.pager__item--last {
	    		margin-rigth: 0px;
				.fa-angle-double-right {
					margin-left: 6px;
				}
	    	}
	    }
	}
}
