<div class="contents--wrapper">
	<div class="hero--wrapper">
		<div class="block block-hero" style="background-image: url('{{ img.hero_image.src }}');">
			<div class="content-area">
				<div class="column-wrapper">
					<h1 class="white-text">Your giving inspires a world of good health.</h1>
				</div>
			</div>
		</div>
	</div>
</div>
