<div class="block block--impact-story-with-image background-color--teal" style="background-image: url(/images/MBH_hospital.jpg);">
    <div class="block--content">
        <div class="content-area">
            <h2>Research is at the Heart of What We Do</h2>
        </div>
    </div>
</div>