
<div class="block block-contact-us">
	<h4 class="granjon-heading-text">Contact Us</h4>
	<h5>Department Name</h5>
	<div class="contact-detail-item">
		<span class="fa fa-phone"></span>
		<span itemprop="telephone">
			<a href="tel:+1-415-476-6922">+1 (415) 476-6922</a>
		</span>
	</div>
	<div class="contact-detail-item">
		<span class="fa fa-envelope"></span>
		<span itemprop="email">
			<a href="mailto:email@department.com">email@department.com</a>
		</span>
	</div>
</div>

