<div class="block-story-nugget">
	<div class="story-nugget-display-image" style="background-image: url('{{ image }}');"></div>
	<div class="story-nugget-data">
		<div class="story-nugget-content--wrapper">
			<div class="story-nugget-title column-large-12 column-medium-12 column-small-12 column-xsmall-12">
				<h4 class="background--{{ bgcolor }}">{{ nugget_title }}</h4>
			</div>
			<div class="story-nugget-content column-large-12 column-medium-12 column-small-12 column-xsmall-12">
				{{ nugget_content|raw }}
			</div>
		</div>

	</div>
</div>



