<div class="content-area content-area--fluid block block--give-block-full-width">
    <div class="content-area">
        <div class="column-wrapper">
            <div class="column-xsmall-12 column-small-7 column-medium-8 column-large-9">
                {{ give_to_full |raw}}
            </div>
            <div class="column-xsmall-12 column-small-5 column-medium-4 column-large-3">
                <a class="btn btn--with-icon" href="{{ give.url }}">
                    {{ give.label }} <i class="fa fa-heart"></i>
                </a>
            </div>
        </div>
    </div>
</div>
