<div class="hero--wrapper">
	<div class="block block--landing-hero">
		{% block hero_image %}
			<div class="hero-background" style="background-image: url('{{ background_image }}');"></div>
		{% endblock %}
		<div class="content-area">
			<div class="column-wrapper">
				<div class="column-large-12 column-medium-12 column-small-12 column-xsmall-12">
					{% block hero_content %}
						{% include '@molecules/01-text/05-hero-text.twig' with {
							"alignment" : alignment,
							"heading" : heading,
							"link_text" : link_text,
							"link_href" : link_href,
							"body" : body
						} %}
					{% endblock %}
				</div>
			</div>
		</div>
		{% block link_to_small %}
				{% if link_text %}
					{% include '@molecules/01-text/06-link-with-icon.twig' with {
							"link_text" : link_text,
							"link_href" : link_href
					} %}
			    {% endif %}
		{% endblock %}
	</div>
</div>
<div class="content-area xsmall--visible">
    <div class="column-wrapper">
       <div class="large--hidden medium--hidden small--hidden column-xsmall-12">
       		{% block body_text %}
	   			<div class="header-section section--intro-text">
				    <p>{{ body|raw }}</p>
				</div>
	        {% endblock %}
		</div>
    </div>
</div>
