<ul class="palette ng-scope">
  <li>
    <h3>Oxford Blue</h3>
    <div style="background-color: #052059;" class="color">
        <span class="hex">#052059</span>
        <span class="variable">$color--oxford-blue</span>
    </div>
  </li>
  <li>
    <h3>Light Blue</h3>
    <div style="background-color: #007CBE;" class="color">
        <span class="hex">#007CBE</span>
        <span class="variable">$color--light-blue</span>
    </div>
  </li>
  <li>
    <h3>Yellow Green</h3>
    <div style="background-color: #6EA400;" class="color">
        <span class="hex">#6EA400</span>
        <span class="variable">$color--yellow-green</span>
    </div>
  </li>
  <li>
    <h3>Teal</h3>
    <div style="background-color: #058488;" class="color">
        <span class="hex">#058488</span>
        <span class="variable">$color--teal</span>
    </div>
  </li>
  <li>
    <h3>Orange</h3>
    <div style="background-color: #F26D04;" class="color">
        <span class="hex">#F26D04</span>
        <span class="variable">$color--orange</span>
    </div>
  </li>
  <li>
    <h3>Light Gray</h3>
    <div style="background-color: #F1F1F1;" class="color">
        <span class="hex">#F1F1F1</span>
        <span class="variable">$color--light-gray</span>
    </div>
  </li>
  <li>
    <h3>Black</h3>
    <div style="background-color: #000000;" class="color">
        <span class="hex">#000000</span>
        <span class="variable">$color--black</span>
    </div>
  </li>
</ul>

