<div class="header-section section--intro-text">
    <p>When you give to UCSF, you become something indispensable in our quest to provide great medicine: You become a partner — in every discovery, in the way we prepare future physicians and researchers, and in the care and hope we bring to people across the globe.</p>
    <p>The spirit of partnership sets UCSF apart and makes us one of the world’s most innovative and productive sources of health care breakthroughs. We invite you to advance the world of science and medicine with us.</p>
</div>