  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/parallax.js/parallax.min.js"></script>
  <!-- endbower -->
  <!--DO NOT REMOVE-->
  <script src="/js/search-form-functions.js"></script>
  <script src="/js/mobile-nav-functions.js"></script>
  {{ patternLabFoot | raw }}

  </body>
</html>
