  <!-- bower:js -->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/parallax.js/parallax.min.js"></script>
  <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
  <script src="/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
  <script src="/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <!-- endbower -->
  <!--DO NOT REMOVE-->
  <script src="/js/search-form-functions.js"></script>
  <script src="/js/mobile-search-functions.js"></script>
  <script src="/js/mobile-nav-functions.js"></script>
  <script src="/js/nav-behavior.js"></script>
  <script src="/js/ways-to-give-functions.js"></script>
  <script src="/js/article-carousel-functions.js"></script>
  <script src="/js/sliders.js"></script>
  <script src="/js/social-icons-behavior-functions.js"></script>
  <script src="/js/related-articles-large-functions.js"></script>
  <script src="/js/accordion-functions.js"></script>


  {{ patternLabFoot | raw }}

  </body>
</html>
